.color__analogous-0 {
  background-color: #bf6c30;
}
.color__analogous-1 {
  background-color: #bf3083;
}
.color__analogous-2 {
  background-color: #bfb430;
}
.color__analogous-3 {
  background-color: #b430bf;
}
.color__analogous-4 {
  background-color: ;
}
