@import "../node_modules/kouto-swiss/index"

$color_base = #BF303B
$color_analogous = extended-analogous( $color_base )

.color__analogous-0
  background-color : $color_analogous[0] 
.color__analogous-1
  background-color : $color_analogous[1]
.color__analogous-2
  background-color : $color_analogous[2]
.color__analogous-3
  background-color : $color_analogous[3]
.color__analogous-4
  background-color : $color_analogous[4]